tema8/ejemplos/15/files/mafalda_rosa.jpg
tema8/ejemplos/15/files/Marvin.png

#Ignorar
C:\xampp\htdocs\dwes\tema7\actividad7.1
C:\xampp\htdocs\dwes\tema7\ejemplos
C:\xampp\htdocs\dwes\tema7\ejemplos\02-subida-archivos-validacion
C:\xampp\htdocs\dwes\tema7\ejemplos\Actividad-02-ges_archivos

C:\xampp\htdocs\dwes\validacionGesbank
C:\xampp\htdocs\dwes\04-menuuserJC
C:\xampp\htdocs\dwes\examenPDO

C:\xampp\htdocs\dwes\tema12\Instalacion de Laravel.pdf
